body{
	background-color: red;
	margin: 10;
	padding: 10;

}
header{
	text-align: center;
	color: ;
	border-radius: 30px;
	margin: 0px;
	padding: 0;
	height: 50px;
	text-align: center;
	background: yellow;
}
.img1{
	margin-bottom: 100px;
	max-width: 90%;
	padding: 10px;
	margin: 0px;
	margin-left: 50px,
	margin-top: 30px;
	height: 300px;
	width: 300px;
	border-radius: 500px;
}
.img2{
	margin-bottom: 100px;
	max-width: ;
	padding: 10px;
	margin: 0px;
	margin-left: 50px,
	margin-top: 30px;
	height: 300px;
	width: 300px;
	border-radius: 500px;
}
.img3{
	margin-bottom: 100px;
	max-width: 90%;
	padding: 10px;
	margin: 0px;
	margin-left: 50px,
	margin-top: 30px;
	height: 300px;
	width: 300px;
	border-radius: 500px;
}
footer{
	margin: 0px;
	padding: 0;
	border-radius: 50px;
	margin-left: 10px;
	height: 150px;
	color: black;
	text-align: center;
	background-color: yellow;
}
a{
	margin: 30px;
	padding: 50px;
	margin-right: 50px;
	position: left;
	color: white;
	text-decoration: none;
	pointer-events: 10px;
	text-underline-position: top;
}
section{
	position: left;
	text-align: center;
	background-color: black;
	height: 50px;
	margin: 0;
	padding: 0;

}
